/**
 * theme for JavaScript, CSS and HTML
 * vscode Loosely based on the default vscode theme
 * @author Steve McArthur
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #D4D4D4;
  background: #1E1E1E;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.89em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  padding-top: 1.5em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1E1E1E;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6A9955;
}
.token.punctuation {
  color: #f8f8f2;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #9cdcfe;
}
.token.boolean,
.token.number {
  color: #b5cea8;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ce9178;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #ce9178;
}
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #b5cea8;
}
.token.keyword {
  color: #569cd6;
}
.token.regex,
.token.important {
  color: #646695;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/**
 * prism.js vb theme for VB, VBA, JavaScript, CSS and HTML
 * 
 * @author Steve McArthur
 */
code.language-visual-basic,
pre.language-visual-basic {
  color: #000;
  background: #f5f3fd;
  text-shadow: none;
  font-family: "Courier New", Courier, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.89em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre.language-visual-basic::-moz-selection,
pre.language-visual-basic ::-moz-selection,
code.language-visual-basic::-moz-selection,
code.language-visual-basic::-moz-selection {
  text-shadow: none;
  background: #f5f3fd;
}
pre.language-visual-basic::selection,
pre.language-visual-basic ::selection,
code.language-visual-basic::selection,
code.language-visual-basic ::selection {
  text-shadow: none;
  background: #fff;
}
@media print {
  code.language-visual-basic,
  pre.language-visual-basic {
    text-shadow: none;
  }
}
/* Code blocks */
pre.language-visual-basic {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  padding-top: 1.5em;
}
:not(pre) > code.language-visual-basic,
pre.language-visual-basic {
  background: #f5f3fd;
}
/* Inline code */
:not(pre) > code.language-visual-basic {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
code.language-visual-basic .token.comment,
pre.language-visual-basic .token.comment,
code.language-visual-basic .token.prolog,
pre.language-visual-basic .token.prolog,
code.language-visual-basic .token.doctype,
pre.language-visual-basic .token.doctype,
code.language-visual-basic .token.cdata,
pre.language-visual-basic .token.cdata {
  color: #690;
}
code.language-visual-basic .token.punctuation,
pre.language-visual-basic .token.punctuation {
  color: #000;
}
code.language-visual-basic .namespace,
pre.language-visual-basic .namespace {
  opacity: 0.7;
}
code.language-visual-basic .token.property,
pre.language-visual-basic .token.property,
code.language-visual-basic .token.tag,
pre.language-visual-basic .token.tag,
code.language-visual-basic .token.boolean,
pre.language-visual-basic .token.boolean,
code.language-visual-basic .token.number,
pre.language-visual-basic .token.number,
code.language-visual-basic .token.constant,
pre.language-visual-basic .token.constant,
code.language-visual-basic .token.symbol,
pre.language-visual-basic .token.symbol,
code.language-visual-basic .token.deleted,
pre.language-visual-basic .token.deleted {
  color: #000;
}
code.language-visual-basic .token.selector,
pre.language-visual-basic .token.selector,
code.language-visual-basic .token.attr-name,
pre.language-visual-basic .token.attr-name,
code.language-visual-basic .token.string,
pre.language-visual-basic .token.string,
code.language-visual-basic .token.char,
pre.language-visual-basic .token.char,
code.language-visual-basic .token.builtin,
pre.language-visual-basic .token.builtin,
code.language-visual-basic .token.inserted,
pre.language-visual-basic .token.inserted {
  color: #000;
}
code.language-visual-basic .token.operator,
pre.language-visual-basic .token.operator,
code.language-visual-basic .token.entity,
pre.language-visual-basic .token.entity,
code.language-visual-basic .token.url,
pre.language-visual-basic .token.url,
code.language-visual-basic .language-css .token.string,
pre.language-visual-basic .language-css .token.string,
code.language-visual-basic .style .token.string,
pre.language-visual-basic .style .token.string {
  color: #000;
  background: #f5f3fd;
}
code.language-visual-basic .token.atrule,
pre.language-visual-basic .token.atrule,
code.language-visual-basic .token.attr-value,
pre.language-visual-basic .token.attr-value,
code.language-visual-basic .token.keyword,
pre.language-visual-basic .token.keyword {
  color: #07a;
}
code.language-visual-basic .token.function,
pre.language-visual-basic .token.function,
code.language-visual-basic .token.class-name,
pre.language-visual-basic .token.class-name {
  color: #000;
}
code.language-visual-basic .token.regex,
pre.language-visual-basic .token.regex,
code.language-visual-basic .token.important,
pre.language-visual-basic .token.important,
code.language-visual-basic .token.variable,
pre.language-visual-basic .token.variable {
  color: #07a;
}
code.language-visual-basic .token.important,
pre.language-visual-basic .token.important,
code.language-visual-basic .token.bold,
pre.language-visual-basic .token.bold {
  font-weight: bold;
}
code.language-visual-basic .token.italic,
pre.language-visual-basic .token.italic {
  font-style: italic;
}
code.language-visual-basic .token.entity,
pre.language-visual-basic .token.entity {
  cursor: help;
}
pre.language-visual-basic {
  /* border: 1px solid #c5c5c5 !important; */
}
pre[class*="language-"] {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
code[class*="language-"] {
  font-size: 1rem;
}
blockquote {
  margin: 0 0 1rem 0;
  padding: 1.2rem;
}
pre {
  position: relative;
  line-height: 28px;
  min-width: 100%;
}
pre[data-code="Filesystem"] .punctuation,
pre[data-code="Filesystem"] .keyword {
  display: none;
}
pre[data-code]::before {
  font-size: 1.1rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  content: attr(data-code);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #999;
  padding: 0.5rem 1rem;
}
pre[data-code="VBA"]::before,
.vba,
.vb {
  background: #07a;
}
pre[data-code="JSON"]::before,
.json {
  background: #fab1a0;
}
pre[data-code="Node.js"]::before,
.nodejs {
  background: #026e00;
}
pre[data-code="Markdown"]::before,
.markdown {
  background: #6c5ce7;
}
pre[data-code="Handlebars"]::before,
.handlebars {
  background: #e67e22;
}
pre[data-code="Filesystem"]::before,
.filesystem {
  background: hsl(37, 90%, 51%);
}
pre[data-code="C#"]::before,
.csharp {
  background: #9b59b6;
}
p code {
  background: #eee;
}
/* p code {
  background: #1E1E1E;
  color: #D4D4D4;
  padding: 2px 7px;
} */
blockquote,
.source {
  background-color: #eee;
  border-left: 8px solid #ccc;
}
